<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
  </head>
  <body>
    <h1>hiếu vó sử dụng template của express là ejs</h1>
    <h2>sử dụng nodemon</h2>
    <div><img class="vac" src="images/vac.jpg" alt="" /></div>
  </body>
</html>
